[submodule "iPlug2"]
	path = iPlug2
	url = https://github.com/iPlug2/iPlug2
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "NeuralAmpModeler/NeuralAmpModelerCore"]
	path = NeuralAmpModeler/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore.git
