[submodule "iPlug2"]
	path = iPlug2
	url = https://github.com/iPlug2/iPlug2.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "Notebook"]
	path = Notebook
	url = git@github.com:sdatkinson/neural-amp-modeler.git
