[submodule "iPlug2"]
	path = iPlug2
	url = https://github.com/iPlug2/iPlug2
	# url = https://github.com/sdatkinson/iPlug2.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "AudioDSPTools"]
	path = AudioDSPTools
	url = https://github.com/sdatkinson/AudioDSPTools.git
[submodule "NeuralAmpModelerCore"]
	path = NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore.git
