<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>NeuralAmpModeler</string>
	<key>CFBundleGetInfoString</key>
	<string>NeuralAmpModeler v0.7.13 Copyright 2022 Steven Atkinson</string>
	<key>CFBundleIdentifier</key>
	<string>com.StevenAtkinson.app.NeuralAmpModeler.AUv3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NeuralAmpModeler</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7.13</string>
	<key>CFBundleVersion</key>
	<string>0.7.13</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponentBundle</key>
			<string>com.StevenAtkinson.app.NeuralAmpModeler.AUv3Framework</string>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>description</key>
					<string>NeuralAmpModeler</string>
					<key>manufacturer</key>
					<string>SDAa</string>
					<key>name</key>
					<string>Steven Atkinson: NeuralAmpModeler</string>
					<key>sandboxSafe</key>
					<true/>
					<key>subtype</key>
					<string>1YEo</string>
					<key>tags</key>
					<array>
						<string>Effects</string>
					</array>
					<key>type</key>
					<string>aufx</string>
					<key>version</key>
					<integer>1805</integer>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit-UI</string>
		<key>NSExtensionPrincipalClass</key>
		<string>IPlugAUViewController_vNeuralAmpModeler</string>
	</dict>
</dict>
</plist>
