<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>NeuralAmpModeler</string>
			<key>factoryFunction</key>
			<string>NeuralAmpModeler_Factory</string>
			<key>manufacturer</key>
			<string>SDAa</string>
			<key>name</key>
			<string>Steven Atkinson: NeuralAmpModeler</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>1YEo</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<integer>1801</integer>
		</dict>
	</array>
	<key>AudioUnit Version</key>
	<string>0x00000709</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>NeuralAmpModeler</string>
	<key>CFBundleGetInfoString</key>
	<string>NeuralAmpModeler v0.7.9 Copyright 2022 Steven Atkinson</string>
	<key>CFBundleIdentifier</key>
	<string>com.StevenAtkinson.audiounit.NeuralAmpModeler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NeuralAmpModeler</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7.9</string>
	<key>CFBundleSignature</key>
	<string>1YEo</string>
	<key>CFBundleVersion</key>
	<string>0.7.9</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.15.0</string>
	<key>NSPrincipalClass</key>
	<string>NeuralAmpModeler_View</string>
</dict>
</plist>
